<div class="backColor">
  <h2 style="margin-bottom:3%">SpaceX Launch Programs</h2>
  <div class="row">
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-4">
          <h3>Filters</h3>
          <h5 style="text-align:center">Launch Year</h5>
          <hr style="margin-top:2%; margin-left:0px; height:1px; background-color:black" />
          <div class="col-xs-2 col-md-2" style="padding:0px; margin-right:50%">
            <div *ngFor="let button of buttonList" style="margin-bottom:53%">
              <button type="button" (click)="launchyearFilter(button.name)" style="background-color:lightgreen">{{button.name}}</button>
            </div>
          </div>
          <div class="col-xs-2 col-md-2" style="padding:0px">
            <div *ngFor="let button of buttonList1" style="margin-bottom:53%">
              <button type="button" (click)="launchyearFilter(button.name)" style="background-color:lightgreen">{{button.name}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <h5 style="text-align:center; width:120px">Successful Launch</h5>
          <hr style="margin-top:2%; margin-left:0px; height:1px; background-color:black" />
          <div class="col-xs-2 col-md-2" style="padding:0px; margin-right:50%">
            <div style="margin-bottom:53%">
              <button type="button" (click)="launchSucessFilter(true)" style="background-color:lightgreen">True</button>
            </div>
          </div>
          <div class="col-xs-2 col-md-2" style="padding:0px">
            <div style="margin-bottom:53%">
              <button type="button" (click)="launchSucessFilter(false)" style="background-color:lightgreen">False</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <h5 style="text-align:center; width:123px">Successful Landing</h5>
          <hr style="margin-top:2%; margin-left:0px; height:1px; background-color:black" />
          <div class="col-xs-2 col-md-2" style="padding:0px; margin-right:50%">
            <div style="margin-bottom:53%">
              <button type="button" (click)="landFilter(true)" style="background-color:lightgreen">True</button>
            </div>
          </div>
          <div class="col-xs-2 col-md-2" style="padding:0px">
            <div style="margin-bottom:53%">
              <button type="button" (click)="landFilter(false)" style="background-color:lightgreen">False</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-8" style="margin-top:7%">
      <div class="row">
        <div class="col-xs-2 col-md-2 block-backColor" style="margin-right:7%" *ngFor="let item of this.data">
          <div>
            <img [src]="[item.links.mission_patch_small]" width="100" height="100" style="margin-top:12%"/>
            <span>{{item.mission_name}}#{{item.flight_number}}</span>
            <ul style="padding-left:10%">
              <li>
                <span><b>Mission Ids:</b>{{item.mission_id[0]}}</span>
              </li>
              <li>
                <span><b>Launch Year:</b>{{item.launch_year}}</span>
              </li>
              <li>
                <span><b>Successful Launch:</b>{{item.launch_success}}</span>
              </li>
              <li>
                <span><b>Successful Landing:</b>{{item.rocket?.first_stage?.cores[0].land_success}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <h4 style="text-align:center">Developed by: Tejaswini</h4>
</div>
